 <h2 class="page-header">Admin</h2>
 

<form method="get" action="/hobbies">
 <button type="submit" class="btn btn-default">Hobbies</button>
 </form>
<form method="get" action="/groups">
 <button type="submit" class="btn btn-default">Groups</button>
 </form>
       <form method="get" action="/users">
 <button type="submit" class="btn btn-default">Users</button>
 </form>
              