<style type="text/css">
.home_page_top {
    background-image: url('../record_challenge_page.png');
   background-repeat: no-repeat;
   background-size:100%;

}{{!--  --}}


.flex-container {
  display: flex;
  justify-content: center;
 
} 
</style>

<body class="home_page_top">



	<div class="flex-container">
     <div class="main-container">    
            <!-- LEFT-CONTAINER -->
            <div class="left-container container">
                <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                    <h2 class="titular">Challenge Someone</h2>
                    <ul class="menu-box-menu">
                        <li>
                            <a class="menu-box-tab" href="/"><span class="icon fontawesome-envelope scnd-font-color"></span>Challenge:{{title}}</a>                            
                        </li>
                    </ul>

                    
              <ziggeorecorder ziggeo-title="{{title}}" ziggeo-tags="{{username}}" ziggeo-theme="modern"></ziggeorecorder>
 
                </div>

               
               
            </div>

                </div> <!-- end calendar-month block -->
    </div>
  
</body>