
<!doctype html>
<html >
<head>
<meta charset="UTF-8">
<title>HTML 5, CSS 3, jQuery Log-in & Registration</title>



<script>

$(document).ready(function() {
  
      if( document.getElementById("challenge").value !='none')
      {

                 event.preventDefault();
                $(".overlay").fadeToggle("fast");
             
         
                 
      }

 var buttons = $("#next").click(function(e) {
 
      // get user input
      var yes = buttons.index(this) === 0;
          event.preventDefault();
           $(".overlay").fadeToggle("fast");
     document.getElementById("challenge_text").value= document.getElementById("challenge").value       
     
   document.getElementById("input_recorder").value= document.getElementById("challenge").value       
            $(".overlay2").show();
  });


    $("#loginLink").click(function( event ){
           event.preventDefault();
           $(".overlay").fadeToggle("fast");
     });
     
    $(".overlayLink").click(function(event){
        event.preventDefault();
        var action = $(this).attr('data-action');
         
        $("#loginTarget").load("ajax/" + action);
         
        $(".overlay").fadeToggle("fast");
    });
     
    $(".close").click(function(){
        $(".overlay").fadeToggle("fast");
    });
     
    $(document).keyup(function(e) {
        if(e.keyCode == 27 && $(".overlay").css("display") != "none" ) { 
            event.preventDefault();
            $(".overlay").fadeToggle("fast");
        }
    });
});
</script>
</head>
 
<body class="home_page_top"  >

<div style="display:none">
 <form action="/save_challenge" method="post">
    <input type="text" name="challenge_text" id="challenge_text" />
     <input type="text" name="challenge_id" id="challenge_id" />
    <button  id="test" type="submit" class="btn btn-default">Save</button>
</form>
</div>

<div class="overlay2" style="display: none;">
   <div class="login-wrapper2">
        <div class="login-content2" id="loginTarget2">
    
  <input disabled id="input_recorder"/>
     <div>  
       
          <form> 
             <ziggeorecorder ziggeo-theme="modern" ziggeo-width="300"  ziggeo-height="300" id="recorder"></ziggeorecorder>
          </form>
           </div>
           </div>
           </div>
     </div>




<div class="overlay" style="display: none;">
    <div class="login-wrapper">
        <div class="login-content" id="loginTarget">
            <a HREF="javascript:history.back()" class="close">x</a>
    <form>
        

        Describe your challenge
                 <label for="username">
                   
                    <input type="text" name="challenge" id="challenge" placeholder="Challenge must be between 8 and 20 characters"  required />
                </label>
               
                <button name="next" id="next" type="submit">Next</button>
            </form>
        </div>
    </div>
</div>





</body>
</html>