
<p>Challenge: {{title}}
 <p><a href="/challenge_friend/{{token}}/{{title}}/{{username}}" class="btn btn-xs btn-warning">Challenge Friend</a>


 <a href="/challenge_group" class="btn btn-xs btn-warning">Challenge Group</a>
 