<% layout('layout') -%>
<% block('title', page_title) %>
<style>
        
      
        
                 .reading {
                      background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center; 
                }
            </style>
<body class="reading">
        <% for(var i =0; i < userdetail.length; i++){ 
            %><div>
                <%= userdetail[i].username %>
            </div>
       <% }%>
    
<div class="row">

                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
        
                        <% if (user.local.email) { %>
                            <p>
         
                                <strong>email</strong>: <%= user.local.email %><br>
                             </p>
                            
                      <% } else { %>
                         <% } %>
        
                    </div>
                </div>


            <div id="content" class="container">
               
                <div class="row">
                    <div class="col-xs-12">
                        <ziggeorecorder ziggeo-tags=<%= user.local.email %> ziggeo-theme="modern"></ziggeorecorder>
                    </div>
                </div>
            </div>
            </div>
            </body>