 <h2 class="page-header">Find Friends</h2>
 

 
<body>
		
		<div>
			<p>
				{{#each friends}}
				
					
					<p>{{this.username}}<a class="btn btn-xs btn-info" href="/find_friends/{{this.username}}">Send Friend Request</a></p>
			
				
				{{/each}}
			</p>
		</div>
	</body>