 <h2 class="page-header">Find Friends</h2>
 

 

	
	
       <!-- LEFT-CONTAINER -->
            <div class="middle-container container">
                <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                    <h2 class="titular">Users</h2>

                    <ul class="menu-box-menu">
	{{#each friends}}

                        <li>
                            <a class="menu-box-tab" href="/find_friends/{{this.username}}">{{this.username}}</a>                            
                        </li>
        {{/each}}            

                    </ul>
                </div>

     