<% layout('layout') -%>
<% block('title', page_title) %>
<style>
        
      
        
            </style>
        

<body >

       <div class="row">
           <div class="col-md-4">
                <div id="content" class="container">
                        <ul class="list-unstyled">
                          <li><a href="/" class="btn btn-md btn-link">Home</a></li>
               <li><a href="/record" class="btn btn-md btn-link">Set Challenge</a></li>
               <li><a href="/videos" class="btn btn-md btn-link">Challenge</a></li>
                            <li><a href="/approve" class="btn btn-md btn-link">Approve Challenge</a></li>
                          <li><a href="/hobbies" class="btn btn-md btn-link">Hobbies</a></li>
                          <li><a href="/groups" class="btn btn-md btn-link">Groups</a></li>
                          <li><a href="/user_details" class="btn btn-md btn-link">User Details</a></li>
                           
                          <li><a href="/challenge_someone" class="btn btn-md btn-link">Challenge Someone</a></li>
                          
                      </ul>
                  </div>
              <div class="col-md-4">
                    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
                    
                            <!-- LOCAL INFORMATION -->
                            <div class="col-sm-6">
                                <div class="well">
                                    <h3><span class="fa fa-user"></span> Local</h3>
                    
                                    <% if (user.local.email) { %>
                                        <p>
                                            <strong>id</strong>: <%= user._id %><br>
                                            <strong>email</strong>: <%= user.local.email %><br>
                                          </p>
                                        
                                        <a href="/unlink/local" class="btn btn-default">Unlink</a>
                                    <% } else { %>
                                        <a href="/connect/local" class="btn btn-default">Connect Local</a>
                                    <% } %>
                    
                                </div>
                            </div>

              </div>
   
                </div>
   
        
                   

        
            </body>