


            <div id="content" class="container">
                <h1 class="page-header">Challenge You</h1>
                <p class="text-success">Below is list of available pages</p>
                <ul class="list-unstyled">
                    <li><a href="/" class="btn btn-md btn-link">Home</a></li>
                    <li><a href="/videos" class="btn btn-md btn-link">Videos</a></li>
                    <li><a href="/record" class="btn btn-md btn-link">Record Video</a></li>
                    <li><a href="/upload" class="btn btn-md btn-link">Upload Video</a></li>
                    <li><a href="/approve" class="btn btn-md btn-link">Approve Video</a></li>
                </ul>
            </div>

            <div class="container">
                
                    <div class="jumbotron text-center">
                        <h1><span class="fa fa-lock"></span> Node Authentication</h1>
                
                        <p>Login or Register with:</p>
                        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
                    </div>
                
                </div>
                