<style>
        
      
        
                 .reading {
                     background-image: url(home.png)  !important;
                   background-color:#A916BA;
                     background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center; 
                }
            </style>
        

<body class='reading'>

   
            <div id="content" class="container">
                <h1 class="page-header">Challenge You</h1>
                           <p class="text-success">Below is list of available pages</p>
                <ul class="list-unstyled">
                    <li><a href="/" class="btn btn-md btn-link">Home</a></li>
         <li><a href="/record" class="btn btn-md btn-link">Record Video</a></li>
                    <li><a href="/upload" class="btn btn-md btn-link">Upload Video</a></li>
                    <li><a href="/approve" class="btn btn-md btn-link">Approve Video</a></li>
                    <li><a href="/get_hobbies" class="btn btn-md btn-link">Hobbies</a></li>
                    <li><a href="/get_hobbies" class="btn btn-md btn-link">Groups</a></li>
                    
                    <li><a href="/challenge_someone" class="btn btn-md btn-link">Challenge Someone</a></li>
                    
                </ul>
            </div>

            <div class="row">
                    
                            <!-- LOCAL INFORMATION -->
                            <div class="col-sm-6">
                                <div class="well">
                                    <h3><span class="fa fa-user"></span> Local</h3>
                    
                                    <% if (user.local.email) { %>
                                        <p>
                                            <strong>id</strong>: <%= user._id %><br>
                                            <strong>email</strong>: <%= user.local.email %><br>
                                            <strong>password</strong>: <%= user.local.password %>
                                        </p>
                                        
                                        <a href="/unlink/local" class="btn btn-default">Unlink</a>
                                    <% } else { %>
                                        <a href="/connect/local" class="btn btn-default">Connect Local</a>
                                    <% } %>
                    
                                </div>
                            </div>


            <div class="container">
                
                    <div class="jumbotron text-center">
                 
                        <p>Login or Register with:</p>
                        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
                    </div>
                
                </div>
            </body>