<!doctype html>
<html>
<head>
    <title>Challenge You</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>


         .reading {
             background-image: url(signup.png)  !important;
           background-color:#A916BA;
             background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
    padding:80px;
        }
        body         {  color:white;padding:80px; }
    </style>
</head>
<body class="reading">
<div class="container">

    <div class="center text-right">
        <h1><span class="fa fa-lock"></span> Challenge You</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>

   

</div>
</body>
</html>
