
  <style type="text/css">
html { 
background: url(../home_page_top.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.c{
     padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
    flex-wrap:wrap;


}
.box1{
    text-align:center;
  flex:1;
  background:white;
  padding:5px;
}
</style>
 
<html>
  <body>

<div class="overlay" >
    <div class="login-wrapper">
        <div class="login-content" id="loginTarget">
            <a HREF="javascript:history.back()" class="close">x</a>
   
                        <H1> My Friends </H1>

                        {{#each myfriends}}
                          <div> <img height="50px" src='{{pic}}'/><a href='/browse_profile/{{username}}'>{{username}}</a></div>
                       {{/each}}
                                
        </div>
    </div>
</div>




                
           
</body>
</html>