 <h2 class="page-header">My Hobbies</h2>
 
<body>
	<form method="get" action="/add_hobbies/{{username}}">
 <button type="submit" class="btn btn-default">Add Hobbies</button>
 </form>
		<div>
      {{username}}

	              {{#each hobbies}}
	
		<p>	{{hobby}} {{user}}
			{{/each}}
			</p>
		</div>


	</body>
