
<body class="home_page_top">

     <div class="flex-container">

         <div class="box-0"></div>



   
           
        
         <div class="box-34" style="background-color:white">
                               {{#each friend}}
                       <li class="menu-box-tab">
                              <span>        
   <a class="btn btn-xs btn-warning" href="/browse_profile/{{this.user}}">View  </a>{{this.user}}  is requesting to be your friend 
   <a href="/make_friends/{{this.user}}" class="btn btn-xs btn-warning">Accept</a>
   <a href="/reject_friends" class="btn btn-xs btn-warning">Reject</a>
        </span>
                          </li>
                       {{/each}}
      
                     </div>
           <div class="box-4"></div>
     </div>

    
</body>

