
  <style type="text/css">
.home_page_top {
    background-image: url('../purple_background.png');
   background-repeat: no-repeat;
   background-size:100%;

}
</style>
  

  <body class="home_page_top">


    <div class="middle-container container">
                <div class="menu-box block"> 
                    <h2 class="titular">User requesting to be your friend</h2>
                               
                    <ul class="menu-box-menu">
                       {{#each friend}}
                       <li class="menu-box-tab">
                              <span>        
   <a href="/browse_profile/{{this.user}}">  {{this.user}} </a>  <a href="/make_friends" class="btn btn-xs btn-warning">Accept</a>
        </span>
                          </li>
                       {{/each}}
                    </ul>
                </div>
             </div>>

             </body>