

  <body class="home_page_top">



            <div class="middle-container container">
                <div class="menu-box block"> 
                    <h2 class="titular">You have been challenged</h2>
                            
                    <ul class="menu-box-menu">
                       {{#each challenges}}
          asdf       {{challenger}}  {{challenged}}{{id}}
                       <li class="menu-box-tab">
                              <span>        <a href="/see_c/{{id}}" class="btn btn-xs btn-warning">View Challenge</a> </span>
                          </li>
                       {{/each}}
                    </ul>
                </div>
             </div>
</body>