
<body>

     <div class="flex-container">

         <div class="box-0"></div>



   
           
        
         <div class="box-34" style="background-color:white">
           <h1>Friend Request</h1>
                               {{#each friend}}
                       <li class="menu-box-tab">
                              <span>        
   <a class="btn btn-xs btn-warning" href="/browse_profile2/{{this.user}}">View  </a>{{this.user}}  is requesting to be your friend 
          </span>
                          </li>
                       {{/each}}
      
                     </div>
           <div class="box-4"></div>
     </div>

    
</body>

