
        
  <style type="text/css">
.home_page_top {
    background-image: url('../blue_background.png');
   background-repeat: no-repeat;
   background-size:100%;

}
</style>

  <body class="home_page_top">   
           


View Challenge
{{token}}

{{title}}
 <ziggeoplayer  ziggeo-video="{{token}}" ziggeo-theme="modern"></ziggeoplayer>


 </body>
        